name: Build Magisk Module
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Zip Module
        run: |
          # 排除 Git 和 GitHub 自己的文件夹，剩下的全部打包
          zip -r my-magisk-module.zip . -x "*.git*" ".github*" "index.html" "README.md"

      - name: Upload Zip
        uses: actions/upload-artifact@v3
        with:
          name: Magisk-Module-Package
          path: my-magisk-module.zip